<%- include('partials/header.ejs') %>
    <style>
        .icon-box i {
            margin: 25px;
        }

        .i-large-box {
            width: 100px;
            height: 100px;
            line-height: 98px;
            text-align: center;
            font-size: 40px
        }

        .i-medium-box {
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            font-size: 30px;
        }

        .i-small-box {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 22px
        }

        .i-extra-small-box {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 15px
        }

        .i-plain {
            color: #737373;
            background-color: transparent !important;
        }



        .i-rounded {
            border-radius: 3px;
            background-color: #000;
            color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        .container {

            margin-top: 200px;
        }

        .t-plain {
            color: #737373;
            background-color: transparent !important;
        }

        .i-plain:hover {
            color: #fff;
            background-color: rgb(47, 49, 49) !important;
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }

        .t-plain:hover {

            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    </style>
    <!-- End of Topbar -->

        <section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">

                <div class="row">
                    <div class="col-md col-sm-10 center-col text-center icon-box">
                        <a href="/admin/users"><i class="i-large-box i-plain fa fa-users"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">Users</span></i></a>
                        <a href="/admin/equipment"><i class="i-large-box i-plain fa fa-cogs"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">Equipment</span></i></a>
                        <a href="/admin/news-and-events"><i class="i-large-box i-plain fa fa-newspaper-o"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">News/Events</span></i></a>
                        <a href="/admin/program"><i class="i-large-box i-plain fa fa-tasks"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">Program</span></i></a>
                        <a href="/admin/team"><i class="i-large-box i-plain fa fa-users"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">Team</span></i></a>
                        <a href="/admin/gallery"><i class="i-large-box i-plain fa fa-image"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">Gallery</span></i></a>
                        <a href="/admin/fileupload"><i class="i-large-box i-plain fa fa-upload"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">File</span></i></a>
                        <a href="/admin/booking"><i class="i-large-box i-plain fa fa-table"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">Booking</span></i></a>
                        <a href="/viewBookingInduction"><i class="i-large-box i-plain fa fa-th"><br><span class="i-large-box t-plain"
                                style="font-size: 20px;">Induction</span></i></a>

                    </div>

                </div>

            </div>
        </section>

    </div>





    <!-- Bootstrap core JavaScript-->
    <script src="assets/admin_assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/admin_assets/js/sb-admin-2.min.js"></script>



    </body>

    </html>