<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Super fablab - Dashboard</title>
  <base href='/'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
  <!-- Custom fonts for this template-->
  <link href="css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <!-- TinyMCE -->
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: '#mytextarea',
      plugins: [
        'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
        'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
        'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
      ],
      toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
    });
  </script>
</head>

<body id="admin-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
          <i> <img src="img/fablab.png" style="height: 50px; width: 60px; opacity: 1;" alt=""></i>
        </div>
        <div class="sidebar-brand-text mx-3">Super FabLab <sup></sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          
          <span>Dashboard</span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="/admin/users">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span>Users</span></a>
      </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="admin/equipment">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span>Equipment</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin/news-and-events">
          <i class="fas fa-newspaper"></i>
          <span>News And Events</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin/program">
          <i class="fas fa-tasks"></i>
          <span>Program</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin/team">
          <i class="fa fa-users" ></i>
          <span>Team</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin/gallery">
          <i class="fas fa-image"></i>
          <span>Gallery Image Upload</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin/fileupload">
          <i class="fas fa-upload"></i>
          <span>File Upload</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin/booking">
          <i class="fas fa-fw fa-table"></i>

          <span>Bookings</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->


      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

 

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="dropdown-item" href="/logout">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              LOGOUT
            </a>
          </li>
        </ul>
      </nav>