<%- include('../partials/header.ejs')  %>
<main class="container">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="display-6">New Program</h1>
            <form action="/admin/addProgram" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Upload (the image size should be 400px x 400px)</label>
                    <input class="form-control" type="file" id="image" name="image">
                  </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Type</label>
                    <div class="input-group mb-3">
                        <select id="type" name="type">
                            <option value="Education">Education Program</option>
                            <option value="Training">Training Program</option>
                            <option value="Research">Research And Development</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea class="form-control" name="description"  id="mytextarea" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-small">Submit</button>
            </form>
        </div>
    </div>
</main>